@import "vars";

// Index
.home {
  h1 {
    font-size: 6rem;
    font-weight: 400;
  }
  h2 {
    font-weight: 400;
  }
  .socials {
    font-size: 2.5rem;
    a {
      display: inline-block;
      color: #fff;
      transition: all 0.3s ease-in;

      &:hover {
        opacity: 0.8;
        transform: translateY(7px);
        color: $secondary-color;
      }
    }
  }
  .shortcuts {
    position: absolute;
    bottom: 15%;

    p {
      font-family: $main-font;
      font-size: 1.3rem;
    }
    .link {
      display: inline-block;
      transition: all 0.3s ease-in;
      &:hover {
        transform: translateX(10px);
      }
    }
    a {
      transition: all 0.3s ease-in;

      &:hover {
        opacity: 0.8;
      }
    }
  }
  // Animations
  h1,
  h2,
  .socials {
    animation: headingTransition;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  @keyframes headingTransition {
    0% {
      transform: translateX(-500px);
      opacity: 0.4;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
}
@media (max-width: 768px) {
  .home {
    h1 {
      font-size: 3rem;
      font-weight: 400;
    }
    .shortcuts {
      bottom: 7%;
    }
  }
}
