$main-font: "Noto Serif SC";

$primary-color: rgb(78, 109, 115);
$primary-color-light: rgba(78, 109, 115, 0.5);
$secondary-color: #e1ac7b;
$secondary-color-light: rgba(170, 144, 120, 0.8);
$secondary-color-transperant: rgba(170, 144, 120, 0.5);

$container-width: 1400px;
