.navbar {
  background: $primary-color;
  border-bottom: 0.7px solid #e2e2e259;
  box-shadow: #e2e2e259 0 1px 3px;

  .container {
    max-width: $container-width;
  }
}

.navbar-light .navbar-toggler {
  border-color: $secondary-color-light;
}
.navbar-light .navbar-nav .nav-link,
a.nav-link {
  display: inline-block;
  color: $secondary-color;
  text-decoration: none;
  margin: 0 0.5rem;
  transition: all 0.2s ease-in;

  &:hover {
    color: $secondary-color;
    opacity: 0.7;
  }
}

.nav-link:hover {
  opacity: 0.8;
  transform: translate(-2px, 1px);
}

@media (max-width: 768px) {
  .nav-link:nth-child(even) {
    background: #4a656b;
  }
}
